[
  {cache_service, [
    {http_port, 8081},
    {http_listener_count, 10}
  ]},
  {cowboy_swagger,
    [
      {static_files, "_build/default/lib/cowboy_swagger/priv/swagger"},
      {global_spec,
        #{swagger => "2.0",
          info => #{title => "cache_api"},
          basePath => "/api-docs"
        }
      }
    ]
  }
].
